* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem 5% 0 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: whitesmoke;

}

h1 {
  overflow: hidden;
  white-space: nowrap;
  width: 22ch;
  font-size: 3rem;
  animation: typing 5s steps(24, end) infinite, blink .5s step-end infinite alternate;
  border-right: 3px solid gold;
  margin-bottom: 1rem;

}

@keyframes typing {
  from {
    width: 0;
  }

}

@keyframes blink {
  50% {
    border-color: transparent;

  }
}


h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid gold;
}

header>img {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: 40rem;
  border: 2px solid gold;
  border-radius: 10px;
}

header:hover {
  transform: rotateX(360deg);
  transition: 3s;
}

nav ul {
  margin: 2rem auto;
  background-image: url(img/pexels-maria-orlova-4947752.jpg);
  list-style: none;
  text-align: center;
  border-radius: 5px;
  font-size: large;
}

nav li {
  display: inline-block;
  margin-right: 5rem;
}

nav a {
  text-decoration: none;
  color: black;
  transform: scale(2, 2);
  transition: 0.5s;

}

nav a:hover {
  color: gold;
}


section {
  display: flex;
  gap: 2rem;
  margin: 3rem 0;
}

article {
  flex: 1;
}

article>img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
}

footer {
  display: flex;
  background-image: url(img/pexels-hristina-trajkoska-16268456.jpg);
  /* background-color: black; */
  color: whitesmoke;
  border-radius: 5px;
}

footer>div {
  flex: 1;
  text-align: center;
}

footer img {
  width: 5rem;
  margin: 0.3rem;
}

footer img:hover {
  transform: rotateY(360deg);
  transition: 2s;
}

footer p {
  line-height: 40px;
  color: black;
}

.row>article {
  background-image: url('img/pexels-hristina-trajkoska-16268456.jpg');
  padding: 2rem;
  color: white;
  border-radius: 5px;
}

.row2>article {
  border: 2px solid grey;
  border-radius: 12px;
}

.row2>article:hover {
  box-shadow: 10px 10px 10px grey;
  border-color: gold;
  transform: scale(1, 1.02);
  transition: 1s;
}

.row2 img:hover {
  filter: none;
}

.row2 div {
  padding: 1rem;
}